/*Lightbox*/
#lightbox{
  position: fixed;
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.9);
  z-index: 50000;
  display: none;
  top:0;
}


#lightbox button{
  outline: none;
  border: none;
  height:2rem;
  width:2rem;
  background: none;
  background-size: cover;
}

#lightbox .image-wrapper{
  height:80vh;
}


#lightbox h1{
  padding-bottom: 1rem;
}

#lightbox .image-viewer{
  height: 100%;
}


#lightbox .image-viewer img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
